<!-- HEADER -->
<table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="headerTable">
    <!-- HEADER BAR -->
    <tr>
		<td align="center">
			<table border="0" cellpadding="0" cellspacing="0" width="640" id="emailHeader" class="pink-bg">
                <tr>
                	<td>
                		<table border="0" cellpadding="0" cellspacing="0" width="100%">
                			<tr>
                            	<td align="right">
                            		<a href="http://www.facebook.com/piggypowerbatteries" target="_blank"><img src="https://gallery.mailchimp.com/45822f8ec77a957237afa13b5/images/74190458-5b62-40fb-b875-46823e8d7d95.jpg" alt="Piggy Power Facebook"></a>
                            	</td>
                            	<td align="left" width="32">
                            		<a href="http://www.twitter.com/piggypowerbatts" target="_blank"><img src="https://gallery.mailchimp.com/45822f8ec77a957237afa13b5/images/59d165ec-0970-4b1d-bae7-f64931575d32.jpg" alt="Piggy Power Twitter"></a>
                            	</td>
                			</tr>
                		</table>
                	</td>
                </tr>
            </table>
		</td>
	</tr>
    
    <!-- LOGO BAR -->
    <tr>
        <td align="center" valign="top">
            <table border="0" cellpadding="0" cellspacing="0" width="640">
                <tr>
                    <td align="center" valign="top" class="pink-border-btm">
                        <table border="0" cellpadding="0" cellspacing="0" width="90%" id="emailHeaderLogo">
                            <tr>
                                <td align="center" valign="top">
                                    <a href="{{store url=""}}">
                                        <img
                                            width="100%"
                                            src="{{var logo_url}}"
                                            alt="{{var logo_alt}}"
                                            border="0"/>
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<!-- END HEADER -->